.wu {
  width: 100%;
  height: 2.87rem;
  padding-top: 20%;
  font-size: .18rem;
  color: #999999;
  display: none;
  z-index: 99;
}
.wu_div {
  width: 1.035rem;
  height: 1.035rem;
  background: url(../images/car1.png) no-repeat;
  background-size: 100%;
  margin: auto;
}
.wu_p {
  margin: auto;
  width: 100%;
  text-align: center;
  margin: .15rem 0;
}
.wu_span {
  display: block;
  width: 1.32rem;
  height: .32rem;
  line-height: .32rem;
  margin: auto;
  text-align: center;
  border: 1px solid #aaa;
}
.main {
  width: 100%;
  height: 100%;
}
.main1 {
  width: 100%;
  background: white;
}
.main1_tbody {
  width: 100%;
  height: 100%;
  border-top: 2px solid;
  border-bottom: 2px solid ;
  border-image: url(../images/car0.png) 10 10 round;
}
.main1_tbody tr {
  width: 100%;
  line-height: 0.18rem;
}
.main1_tbody tr td {
  padding: 0.08rem 0;
}
.main1_tbody tr td:nth-child(1) {
  width: 1.15rem;
  text-align: center;
}
.main1_tbody tr td:nth-child(2) {
  width: 2.29rem;
}
.mainCo {
  width: 100%;
  background: white;
  height: 100%;
  padding: .08rem 0 0 0 ;
  color: #aaa;
  margin: .2rem 0 0 0;
}
.mc1 {
  width: 100%;
  padding: 0 .2rem;
}
.mc1 p {
  line-height: .25rem;
}
.mc1 .mc1top {
  width: 100%;
  height: 0.3881rem;
}
.mc1 .mc1top span:first-child {
  border-left: .05rem solid yellow;
  padding-left: .08rem;
}
.mc1 .mc1top span:last-child {
  display: block;
  float: right;
  width: .92rem;
  height: .34rem;
  text-align: center;
  line-height: .34rem;
  border: 1px solid red;
  color: red;
  border-radius: .15rem;
}
.mc2 {
  width: 100%;
  height: .64rem;
  line-height: .64rem;
  font-size: .18rem;
  color: black;
  border-top: 1px solid #aaa;
  padding: 0 .2rem;
}
.mc2_time {
  color: red;
  margin-left: .1rem;
}
.mc2_chage {
  float: right;
}
.mc3 {
  width: 100%;
  height: .66rem;
  line-height: .66rem;
  font-size: .18rem;
  color: black;
  border-top: 1px solid #aaa;
  padding: 0 .2rem;
}
.mc3 input[type=text] {
  display: inline-block;
  border: 2px solid #F9FAFD;
  height: .44rem;
  line-height: .44rem;
  width: 2.84rem;
  font-size: .16rem;
  text-indent: .1rem;
  border-radius: .10rem;
}
.mc4 {
  width: 100%;
  height: 1.04rem;
  font-size: .18rem;
  color: black;
  border-top: 1px solid #aaa;
  position: relative;
}
.mc4 div {
  display: inline-block;
}
.mc4_1 {
  height: 1.04rem;
  width: .64rem;
  background: url(../images/car2.png) no-repeat center;
  background-size: 40%;
}
.mc4_2 {
  height: 1.04rem;
  width: .64rem;
}
.mc4_3 {
  height: 1.04rem;
  width: 2.65rem;
  float: right;
}
.mc4_3 p {
  line-height: .51rem;
}
.mc4_4 {
  width: 1.38rem;
  height: .51rem;
  position: absolute;
  right: 0rem;
  bottom: 0;
  line-height: .51rem;
  font-style: initial;
}
.mc4_4 .jian {
  height: 100%;
  width: .65rem;
  float: left;
  display: flex;
}
.mc4_4 .jian span {
  display: block;
  width: .3263rem;
  height: .3263rem;
  background: #ff0000 url(../images/car4.png) -0.04rem;
  background-size: .8rem;
  border: 1px solid red;
  border-radius: 50%;
  margin: auto;
}
.mc4_4 .num {
  height: 100%;
  width: .08rem;
  float: left;
}
.mc4_4 .add {
  height: 100%;
  width: .65rem;
  float: left;
  display: flex;
}
.mc4_4 .add span {
  display: block;
  width: .3263rem;
  height: .3263rem;
  background: #ff0000 url(../images/car4.png) 0.36rem;
  background-size: .8rem;
  border: 1px solid red;
  border-radius: 50%;
  margin: auto;
}
.mc5 {
  width: 100%;
  height: .64rem;
  line-height: .64rem;
  font-size: .18rem;
  color: black;
  position: relative;
  border-top: 1px solid #aaa;
}
.mc5 span {
  float: left;
  height: 100%;
  text-align: center;
}
.mc5 .all {
  width: .9764rem;
  background: url(../images/car2.png) no-repeat 0.2rem;
  background-size: 25%;
  text-indent: .3rem;
}
.mc5 .js {
  width: 2.2rem;
  text-align: left;
}
.mc5 .qd {
  width: 1.29rem;
  position: absolute;
  right: 0;
  top: 0;
  background: orange;
}

