@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 微软雅黑,microsoft yahei;
  font-size: 0.12rem;
  margin: 0 auto;
  width: 4.14rem;
}
img {
  border: none;
}
ul,
ol {
  list-style: none;
}
a {
  color: black;
  text-decoration: none;
  color: #555555;
}
.clearfixed:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
.header {
  width: 100%;
  height: 0.58rem;
  line-height: 0.58rem;
  background: #ff552e;
  padding: 0 0 0 0.2rem;
}
.header h1 {
  background: url(../images/logo.jpg) no-repeat left center;
  font-size: 0;
  width: 0.29rem;
  height: 0.58rem;
  vertical-align: middle;
  float: left;
  font-style: normal;
}
.header a {
  display: inline-block;
  font-size: 0.16rem;
  color: white;
  padding: 0 0.05rem;
}
.header .city {
  display: inline-block;
  position: relative;
  padding: 0 0.25rem 0 0;
}
.header .city i {
  border: 0.08rem solid black;
  border-color: white transparent transparent transparent;
  position: absolute;
  border-left-width: 0.06rem;
  border-right-width: 0.06rem;
  top: 0.26rem;
  right: 0.08rem;
}
.header a:last-child {
  border-left: 1px solid white;
  line-height: 0.18rem;
  padding: 0 0 0 0.1rem;
}
.header .sou {
  display: inline-block;
  width: 1.75rem;
  height: 0.42rem;
  background-color: rgba(255, 123, 93, 0.9);
  border: none;
  border-radius: 0.04rem;
  text-align: center;
}
.nav ul {
  width: 100%;
  float: left;
  padding: 0.1rem 0 0.05rem;
  border-bottom: 1px solid #aaa;
}
.nav ul li {
  float: left;
}
.nav ul li a {
  display: inline-block;
  width: 0.825rem;
  height: 0.92rem;
  text-align: center;
  padding: 0.1rem 0 0;
}
.nav ul li a img {
  width: 0.49rem;
  height: 0.49rem;
}
.banner1 {
  clear: both;
  font-size: 0.14rem;
  height: 0.58rem;
}
.banner1 h1 {
  float: left;
  width: 0.65rem;
  text-align: center;
  line-height: 0.58rem;
}
.banner1 h1 img {
  vertical-align: middle;
}
.banner1 p {
  float: left;
  width: 3.49rem;
  height: 0.58rem;
  line-height: 0.58rem;
  color: #ff552e ;
}
.banner1 p span {
  padding: 0 0.1rem 0 0;
}
.banner1 p a {
  float: right;
  display: inline-block;
  height: 0.32rem;
  width: 0.71rem;
  line-height: 0.32rem;
  text-align: center;
  background: #ff552e;
  color: white;
  margin: 0.12rem 0.2rem 0 0;
}
.banner2 {
  clear: both;
  padding: 0.1rem 0.2rem;
  background: #AAAAAA;
}
.banner2 img {
  display: inline-block;
  width: 3.75rem;
  height: 0.61rem;
}
.main dl dt div {
  height: 0.52rem;
  width: 100%;
  line-height: 0.52rem;
  padding: 0 0.2rem;
  border-bottom: 1px solid #aaa;
}
.main dl dt div a {
  float: left;
  font-size: 0.18rem;
  color: #ff552e;
  position: relative;
}
.main dl dt div a i {
  border: 0.08rem solid #999;
  border-color: transparent transparent transparent #ff552e;
  position: absolute;
  border-left-width: 0.06rem;
  border-right-width: 0.06rem;
  top: 0.18rem;
  right: -0.24rem;
}
.main dl dt div span {
  float: right;
}
.main dl dt div span a {
  font-size: 0.14rem;
  padding: 0 0 0 0.2rem;
  color: #aaaaaa;
}
.main dl dd .mainm {
  padding: 0.1rem 0;
}
.main dl dd .mainm a {
  float: left;
  display: inline-block;
  width: 25%;
  text-align: center;
  padding: 0.1rem 0;
}
.main dl dd .mainf {
  width: 100%;
  padding: 0 0 0.2rem 0;
  float: left;
  background: #f6f6f6;
}
.main dl dd .mainf a {
  float: left;
  display: inline-block;
  width: 25%;
  text-align: center;
  padding: 0.18rem 0;
  background: #fafafa;
}
.linkf a {
  display: inline-block;
  width: 50%;
  height: 0.9rem;
  float: left;
  border: 1px solid #aaa;
  line-height: 0.9rem;
  padding: 0 0.1rem;
}
.linkf a img {
  float: right;
  width: 0.64rem;
  height: 0.64rem;
  margin: 0.24rem 0 0 0;
}
.linkf a:first-child {
  border-right: none;
}
.linkcar {
  float: left;
  border: 1px solid #aaa;
  border-left: none;
}
.linkcar a {
  font-size: 0.15rem;
  font-style: 400;
  display: inline-block;
  width: 33.33333%;
  height: 0.95rem;
  float: left;
  padding: 0.1rem 0.05rem 0 0.1rem;
  border-left: 1px solid #aaa;
}
.linkcar a img {
  float: right;
  width: 0.64rem;
  height: 0.51rem;
  margin: 0.1rem 0 0 0;
}
#ershou a img {
  width: 0.32rem;
  height: 0.32rem;
  margin: 0.15rem 0 0 0;
}
#chongwu a img {
  width: 0.32rem;
  height: 0.32rem;
  margin: 0.15rem 0 0 0;
}
.live a {
  width: 33.33%;
  float: left;
  padding: 0.1rem 0.2rem 0 0.2rem;
  border: 1px solid #aaa ;
  border-right: none;
}
.live a strong {
  line-height: 0.36rem;
}
.live a small {
  line-height: 0.15rem;
}
.live a img {
  display: block;
  float: right;
  width: 0.64rem;
  height: 0.51rem;
}
.live a:last-child {
  border-right: 1px solid #aaa ;
}
.main2 {
  width: 100%;
  float: left;
  margin: 0.3rem 0 0 0;
  font-size: 0.16rem;
}
.main2 dt div {
  width: 100%;
  padding: 0 0 0 0.14rem;
  font-size: 0.16rem;
}
.main2 dt div a {
  display: inline-block;
  padding: 0 0.05rem;
  line-height: 0.38rem;
  font-weight: bold;
  position: relative;
}
.main2 dt div a i {
  border: 0.05rem solid #999;
  border-color: transparent transparent transparent #999;
  position: absolute;
  border-left-width: 0.04rem;
  border-right-width: 0.04rem;
  top: 0.14rem;
  left: 0.45rem;
}
.main2 dd div p {
  width: 100%;
}
.main2 dd div p a {
  display: inline-block;
  float: left;
  line-height: 0.36rem;
  width: 22%;
  text-align: center;
  color: #C8C8C8;
}
.main2 dd div p a:first-child {
  color: #ff5b35;
  font-weight: bold;
}
.main2 dd div p span {
  display: inline-block;
  width: 12%;
  line-height: 0.36rem;
  font-size: 0;
  position: relative;
}
.main2 dd div p span i {
  border: 0.05rem solid #000;
  border-color: #c8c8c8 transparent transparent transparent;
  position: absolute;
  border-left-width: 0.04rem;
  border-right-width: 0.04rem;
  top: 0.14rem;
}
.footer {
  width: 100%;
  margin: 0.1rem 0 0 0;
}
.footer > p {
  width: 100%;
  height: 0.1rem;
  background: #AAAAAA;
}
.footer1 {
  width: 100%;
  text-align: center;
}
.footer1 ul {
  margin: 0.2rem 0 0 0;
}
.footer1 ul li {
  float: left;
  width: 20%;
  text-align: center;
  color: #858585;
}
.footer1 ul li a {
  display: inline-block;
  height: 0.4rem;
  width: 0.4rem;
  border-radius: 50%;
  border: 1px solid #e6e6e6;
  line-height: 0.4rem;
  color: #858585;
}
.footer1 ul li p {
  line-height: 0.26rem;
}
.footer1 p a {
  padding: 0 0.1rem;
  line-height: 0.35rem;
}
.footer2 {
  width: 100%;
  text-align: center;
  padding: 0.1rem 0 0.6rem 0;
  border-top: 1px solid #999;
  margin: 0.05rem 0 0 0;
  position: relative;
}
.footer2 span {
  display: block;
  background: url(../images/logo.png) no-repeat;
  width: 0.3rem;
  height: 0.17rem;
  position: absolute;
  left: 50%;
  background-size: 0.22rem auto;
  top: -0.09rem;
  margin-left: -0.15rem;
}
.footer2 p {
  color: #999;
}
.footer2 p:first-child {
  line-height: 0.18rem;
  margin: 0.1rem 0;
}
.footer2 p:first-child a {
  display: inline-block;
  padding: 0 0.1rem;
  border-right: 1px solid #aaa;
 }
.footer2 p:first-child a:last-child {
  border-right: none;
}
/*ziti*/
@font-face {
				font-family: 'iconfont';
				src: url('//at.alicdn.com/t/font_65srx8jlx8o20529.eot');
				src: url('//at.alicdn.com/t/font_65srx8jlx8o20529.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_65srx8jlx8o20529.woff') format('woff'), url('//at.alicdn.com/t/font_65srx8jlx8o20529.ttf') format('truetype'), url('//at.alicdn.com/t/font_65srx8jlx8o20529.svg#iconfont') format('svg');
			}
			
			.iconfont {
				font-family: "iconfont";
				font-size: 18px;
				font-style: normal;
				/*-webkit-font-smoothing: antialiased;
				-webkit-text-stroke-width: 0.2px;
				-moz-osx-font-smoothing: grayscale;*/
				color: red;
			}